beautifulsoup4==4.12.3
Flask==3.0.2
Flask_Cors==4.0.0
google_api_python_client==2.108.0
google_auth_oauthlib==1.1.0
protobuf==4.25.2
PyJWT==2.8.0
python-dotenv==1.0.1
python_dateutil==2.8.2
Requests==2.31.0
